
// _contact_.scss
.contact {
    width: 100%;
    background-color: rgba(#000, 0.9);
    text-align: center;
    padding: 8rem 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;

    .social-media {
        margin-bottom: 1rem;

        a {
            color: inherit;
            border: 2px solid #fff;
            display: inline-block;
            border-radius: 50%;
            margin: 0 1rem 1rem 0;
        }

        i {
            font-size: 2.0em;
            margin: .5rem;
        }

        .description {
            margin-top: 1rem;
        }
    }
}

